<a href="https://colab.research.google.com/github/gavoumainville/domestic_violence.csv/blob/main/Final_Project2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/gavoumainville/domestic_violence.csv/main/ENDGBV_NYCfinal.csv")

df

,Offense Type,Report Date,Incident Precinct Code,Borough Name,Intimate Relationship Flag,Victim Race,Victim Sex,Victim Reported Age,Suspect Race,Suspect Sex,Suspect Reported Age,COMMDIST,Poverty,Median Income,Unemployment
0,DIR,12/31/2021,40,BRONX,MISSING,NaN,NaN,NaN,NaN,NaN,NaN,201.0,1.0,1.0,1.0
1,DIR,12/31/2021,40,BRONX,YES,BLACK,FEMALE,29.0,BLACK,MALE,39.0,201.0,1.0,1.0,1.0
2,DIR,12/31/2021,40,BRONX,NO,BLACK,FEMALE,59.0,BLACK,MALE,34.0,201.0,1.0,1.0,1.0
3,DIR,12/31/2021,40,BRONX,YES,OTHER,MALE,34.0,OTHER,MALE,33.0,201.0,1.0,1.0,1.0
4,DIR,12/31/2021,40,BRONX,MISSING,NaN,NaN,NaN,NaN,NaN,NaN,201.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1012,DIR,12/30/2021,77,BROOKLYN,NO,BLACK,FEMALE,47.0,BLACK,FEMALE,NaN,308.0,NaN,NaN,NaN
1013,DIR,12/30/2021,71,BROOKLYN,NO,BLACK,MALE,20.0,BLACK,FEMALE,49.0,309.0,NaN,NaN,NaN
1014,DIR,12/30/2021,71,BROOKLYN,YES,BLACK,FEMALE,28.0,BLACK,MALE,47.0,309.0,NaN,NaN,NaN
1015,FELONY ASSAULT,12/30/2021,71,BROOKLYN,Yes,NaN,FEMALE,28.0,BLACK,MALE,47.0,309.0,NaN,NaN,NaN
1016,DIR,12/30/2021,71,BROOKLYN,NO,BLACK,FEMALE,53.0,BLACK,FEMALE,16.0,309.0,NaN,NaN,NaN